GROUP_NAME = 'Todos' # group you will forward messages into

STATE_PATH = "/path/to/state/file"

TG_APP_ID = 12345
TG_APP_HASH = "g3ergegg"

ORG_FILE_PATH = "/path/to/output.org"
ORG_TAG = "telegram2rtm" # can be None if you don't want a tag

# especially useful in cron, where you can't enter the password
TELETHON_SESSION = "/path/to/telethon/session/session.session"

TIMEZONE = 'Europe/London'

NAME_TO_TAG = {}